body {
  font-family: 'Lato';
}

.list-group-item {
  height: 55px;
}

.bins-share {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px;
}

.bins-share .input-group {
  width: 30%
}

.bins-share > div {
  margin: 0 15px;
}